{% extends '::ffbllayout.html.twig' %}
{% block nav_list %}
	<ul>
		<li><a href="{{ path('admin_home') }}" class="bright">Admin Home</a></li>
		<li><a href="{{ path('admin_player') }}">Player</a></li>
		<li><a href="{{ path('admin_user') }}">User</a></li>
		
	</ul>
{% endblock %}

{% block nav_secondary %}
<div id="secondary_nav">
<div class="wrapper">
<ul id="nav">
	<li><a href="{{ path('admin_home') }}">Admin Home</a></li>
	<li><a href="{{ path('admin_player') }}">Players</a>
		<ul>
			<li><a href="#">Player Info</a></li>
			<li><a href="#">Player Info 2</a></li>
		</ul>

	</li>
	<li><a href="{{ path('admin_user') }}">Users</a>
		<ul>
			<li><a href="{{ path('tool_user_admintool') }}">User Admin</a></li>
		</ul>
	</li>
	<li><a href="#">Nav Template</a>
		<ul>
			<li><a href="#">Team</a>
				<ul>
					<li><a href="#">Sub-Level Item</a></li>
					<li><a href="#">Sub-Level Item</a>
						<ul>
							<li><a href="#">Sub-Level Item</a></li>
							<li><a href="#">Sub-Level Item</a></li>
							<li><a href="#">Sub-Level Item</a></li>
						</ul>
					</li>
					<li><a href="#">Sub-Level Item</a></li>
				</ul>
			</li>
			<li><a href="#">Sales</a></li>
			<li><a href="#">Another Link</a></li>
			<li><a href="#">Department</a>
				<ul>
					<li><a href="#">Sub-Level Item</a></li>
					<li><a href="#">Sub-Level Item</a></li>
					<li><a href="#">Sub-Level Item</a></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
</div>
</div>
{% endblock %}